﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/wwwroot/Website/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        <div class="noi-dung">
            <div class="form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <h4>Đăng kí thành viên</h4>
                    <hr />
                    <p style="color:red; font-size:20px">@ViewBag.thongbao</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-form">
                        <span>Tên người dùng</span>
                        <input type="text" name="Tennguoidung">
                        <div class="col-md-10">
                            @ViewData["tennguoidungnull"]
                        </div>
                    </div>

                    <div class="input-form">
                        <span>Mật Khẩu</span>
                        <input type="password" name="Matkhau">
                        <div class="col-md-10">
                            @ViewData["matkhaunull"]
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Nhập lại mật khẩu</span>
                        <input type="password" name="Nhaplaimatkhau">
                        <div class="col-md-10">
                            @ViewData["nhaplaimatkhaunull"]
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Địa chỉ</span>
                        <input type="text" name="Diachi">
                        <div class="col-md-10">
                            @ViewData["diachinull"]
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Email</span>
                        <input type="email" name="Email">
                        <div class="col-md-10">
                            @ViewData["emailnull"]
                        </div>
                    </div>
                    <div class="input-form">
                        <span>Số điện thoại</span>
                        <input type="number" name="Sodienthoai" maxlength="10" >
                        <div class="col-md-10">
                            @ViewData["sodienthoainull"]
                        </div>
                    </div>

                    <div class="input-form">
                        <input type="submit" value="Đăng kí">
                    </div>
                    <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
                    <ul class="icon-dang-nhap">
                        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul>
                }
            </div>
        </div>
    </section>
</body>
</html>





